@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gordita Bold";
  src: url("/fonts/Gordita_Bold.otf");
}

@font-face {
  font-family: "Gordita Medium";
  src: url("/fonts/Gordita_Medium.otf");
}

@font-face {
  font-family: "Gordita Regular";
  src: url("/fonts/Gordita_Regular.otf");
}

@font-face {
  font-family: "SuisseNeue-Light";
  src: url("/fonts/SuisseNeue-Light.otf");
}

@layer base {
  html {
    font-family: SuisseNeue-Light, system-ui, sans-serif;
  }
}

@layer utilities {
  @responsive {
    .h1 {
      font-family: Gordita Bold;
      font-size: 48px;
      line-height: 64px;
    }

    .h2 {
      font-family: Gordita Bold;
      font-size: 32px;
      line-height: 40px;
    }

    .h3 {
      font-family: Gordita Bold;
      font-size: 24px;
      line-height: 32px;
    }

    .h4 {
      font-family: Gordita Bold;
      font-size: 18px;
      line-height: 32px;
    }

    .text1 {
      font-family: SuisseNeue-Light;
      font-size: 18px;
      line-height: 32px;
    }

    .text2 {
      font-family: SuisseNeue-Light;
      font-size: 22px;
      line-height: 32px;
    }

    .text3 {
      font-family: Gordita Medium;
      font-size: 18px;
      line-height: 32px;
    }

    .text4 {
      font-family: Gordita Medium;
      font-size: 14px;
      line-height: 24px;
    }

    .text5 {
      font-family: Gordita Medium;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 4%;
      text-transform: uppercase;
    }

    .text6 {
      font-family: Gordita Medium;
      font-size: 16px;
      line-height: 24px;
    }

    .text7 {
      font-family: Gordita Bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.8px;
    }

    .text8 {
      font-family: Gordita Regular;
      font-size: 14px;
      line-height: 24px;
    }

    .fp-background-cream {
      background-color: #fffef9;
    }

    .fp-text-black {
      color: #25283d;
    }

    .fp-background-black {
      background-color: #25283d;
    }

    .fp-text-cream {
      color: #fffef9;
    }

    .fp-text-bright-blue {
      color: #92ddff;
    }

    .fp-text-bright-purple {
      color: #9ba2ff;
    }

    .fp-text-bright-pink {
      color: #f5aff5;
    }

    .fp-text-bright-green {
      color: #6dd3cf;
    }

    .fp-text-bright-yellow {
      color: #ffd218;
    }

    .fp-text-bright-orange {
      color: #fdba93;
    }

    .fp-text-bright-grey {
      color: #9ea0af;
    }

    .fp-text-light-blue {
      color: #eef9fe;
    }

    .fp-background-light-blue {
      background-color: #eef9fe;
    }

    .fp-text-light-purple {
      color: #f1f2ff;
    }

    .fp-background-light-purple {
      background: #f1f2ff;
    }

    .fp-text-light-pink {
      color: #ffecff;
    }

    .fp-text-light-green {
      color: #e1f7e5;
    }

    .fp-text-light-yellow {
      color: #eef9fe;
    }

    .fp-text-light-orange {
      color: #ffece1;
    }

    .fp-text-light-grey {
      color: #ebecf2;
    }
  }
}
